[2016-05-10 23:46] xeno-by opened #1 "support generation of doc comments"
With scala.reflect, generation of documentation comments for synthetic code produced by macro annotations was virtually impossible. Of course, I know how to do that, but other than that it's really hopeless.

With scala.meta, things are changing for the better. Our token infrastructure is actually capable of capturing comments and link them to ASTs. After we fix https://github.com/scalameta/scalam

[2016-05-11 05:31] xeno-by opened #2 "support for abort/error/warning"
Currently we don't have such an API in stock in scala.meta, so we can't really report errors and warnings from new-style macros.

[2016-05-11 05:37] xeno-by opened #3 "full-fledged reflect <-> meta converters"
Current prototype implementation creatively avoids the necessity to implement full-fledged converters between scala.reflect and scala.meta internal representations. In the long run, we need to bite the bullet and use the converters from the old scalahost in order to support: 1) multiple expandees, 2) non-toplevel expansions, 3) multiple macro annotations on the same expandee.

[2016-05-11 06:05] xeno-by opened #4 "support for new-style annotation expansions in repl"
Strangely enough, something doesn't quite work in repl. I doubt it's the infrastructure of the old macro paradise, which has been working well for quite a while already. Probably there's an issue with the updated name resolution algorithm that we're employing in the new version:

[code]

[2016-05-11 10:43] xeno-by opened #5 "develop testing infrastructure for IDE integration"
It is important to make sure that new-style ("inline") macros work reasonably well with IDEs from the very beginning. I'd like to invite everyone to comment on what/how we should test to control the process and measure the progress.

[2016-05-11 10:44] xeno-by commented on #5
/cc @fommil @Alefas @dragos

[2016-05-11 11:48] fommil commented on #5
absolutely! I wanted to create something in https://github.com/fommil/imaginary-friend but haven't created the framework yet. My goal was to release a test framework for macro authors to use to make sure their code works in ENSIME and Scala IDE and / or encourage people to prefer compiler plugins for more radical transforms.

However, I'm feeling a bit burnt out from heavy work on ENSIME these las

[2016-05-11 11:57] fommil commented on #5
btw, what about @pavelfatin ? (incidentally, we should introduce you to our GSoC student who's working on what the Concrete Syntax Trees are morphing into. I'd really like to see if IntelliJ could use at least some of that API so that we can generally share more code)

[2016-05-11 11:57] fommil commented on #5
also @sschaef

[2016-06-22 10:26] markehammons opened #7 "Compile error on code that it seems should compile"
When I try to compile this sample program using scala meta and the latest macro paradise I get a compilation error that "package scala.meta is not a value"

[code]

this is my build.sbt for the file:
[code]

Any ideas why I'm hitting this error? It seems like it would be able to compile given the examples for scala meta.

[2016-06-23 12:41] xeno-by commented on #7
Current prototype only supports macro annotations. An analogue of def macros will be implemented later.

[2016-06-23 19:38] markehammons commented on #7
Ok, thanks a ton.

[2016-06-23 19:38] #7 closed

[2016-06-25 15:00] xeno-by opened #8 "annotated case classes lose the "case" mod"
From https://github.com/scalameta/scalameta/issues/440, courtesy of @tabdulradi.

[code]
Where `test` is a simple identity meta function.
[code]

While testing this
[code]
I got

Which means the `case` mod is gone.

[2016-06-25 15:04] xeno-by commented on #8
Scala.meta handles case classes correctly (note the `Mod.Case()` part in the printout below).

[code]

The problem lies in the fact how the current prototype prepares the annottee for being passed into the inline annotation: https://github.com/scalameta/paradise/blob/5befeca2d56f799f83db8f3e29a9bfa27cee24cb/plugin/src/main/scala/org/scalamacros/paradise/typechecker/Expanders.scala#L100.

[2016-06-26 15:17] #8 closed

[2016-06-28 08:24] dwijnand opened #10 "3.0.0-M3 crashes the compiler in console"
**build.properties**
[code]

**build.sbt**
[code]

[code]

[2016-06-28 09:00] xeno-by commented on #10
What if you add scala.meta as a dependency?

[2016-06-28 09:02] dwijnand commented on #10
It doesn't change the situation.

[2016-06-30 07:11] yilinwei opened #11 "Annotation expansion cannot have arguments"
If you try adding arguments in the annotation it fails with `exception during macro expansion, wrong number of arguments`. The `$mods` extracted in the quasiquote also does not have the expansion `@annotation` inside.

I'm assuming that I should be digging around in `Expanders.scala`?

[2016-06-30 14:51] xeno-by commented on #10
Here's an explanation copy/pasted from gitter:

@xeno-by 16:38
I know what’s wrong
Will fix it soon

@dwijnand is curious

@xeno-by 16:47
https://github.com/xeno-by/scalameta/blob/2ab36f552c52dfc9effb9ce1e5d9e648360b9db4/scalameta/quasiquotes/src/main/scala/scala/meta/internal/quasiquotes/ReificationMacros.scala#L296
This typeOf seems to be a problem
When you reify certain trees/types via reify/ty

[2016-06-30 15:48] dwijnand commented on #10
The linked fix fixes trying to splice a `t"_root_.scala.Any` but `console`/`consoleQuick` is still very broken..

[2016-06-30 15:49] xeno-by commented on #10
Yes indeed it is. That's why the commit message says "attempt to fix". Tsk tsk tsk, Github.

[2016-07-01 09:59] dwijnand commented on #10
C'mon GitHub...

[2016-07-01 15:11] dwijnand commented on #10
@xeno-by re-open please

[2016-07-03 10:42] dwijnand opened #12 "Support multiple expandees"
**build.properties**
[code]

**build.sbt**
[code]

**src/main/scala/p/myann.scala**
[code]

**src/test/scala/p/Bippy.scala**
[code]

[code]

[2016-07-08 08:35] xeno-by opened #13 "Support multiple expansions"
In `@foo @bar <some definition>` only the leftmost annotation is going to expand.

This happens because the macro engine needs to remove the currently expanded annotation from the list of annotations on the expandee. Current implementation has no reliable way to determine which annotation is the one, so it nukes everything.

This should be relatively easy to fix. In the worst case, the typechecker

[2016-07-12 06:40] deterdw opened #14 "Make annotations compile-time only"
Would it be possible to make all new-style meta-based macro annotations be compileTimeOnly automatically? Or else, at least to require them all to have that annotation? It seems like a good time to do it now, before "the ship has sailed on this" (as discussed in the comments on http://docs.scala-lang.org/overviews/macros/annotations.html) too.

[2016-07-12 09:00] xeno-by commented on #14
That's a very good suggestion. I'll make sure to fix this before a stable release.

[2016-07-14 17:49] iTakeshi commented on #12
@xeno-by Do you have a development roadmap? I'm really looking forward to having this feature implemented in the new generation scala macro.

[2016-07-15 16:21] xeno-by commented on #12
Thanks for your interest! I'll be talking more about our plans with scala.meta at Scala By the Bay: http://scala.bythebay.io/.

[2016-07-15 16:24] xeno-by commented on #12
Btw this bug may be relatively simple to fix, so if someone would like to give it a try, I'll be glad to give some pointers.

[2016-07-15 16:41] iTakeshi commented on #12
Thanks for letting me know about your talk, but unfortunately I won't be able to join the conference because I live in Japan. Plz share your slide in the web.

Also I'm interested in fixing this problem (although I'm just a scala beginner), and I've already read main part of the source of this plugin. So if you give me a pointer, I want to give it a try.

[2016-07-15 16:49] xeno-by commented on #12
Sure, I will share the slides. Hope the conference will be recorded, too.

Try converting expandees using toMeta instead of converting and returning just the original (https://github.com/scalameta/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/typechecker/Expanders.scala#L126).

I'll be travelling tomorrow, so my response time may become quite high. I'll do my best to reply th

[2016-07-16 00:25] iTakeshi commented on #12
Ok, I'll try that.
However I'm busy for other tasks in this weekend, so probably I'll do this on the beginning of the next week. Have a nice trip!

[2016-07-19 07:20] iTakeshi commented on #12
At first I wrote some specs for this feature and simply tried to convert each expandee using `toMeta()`
https://github.com/iTakeshi/paradise/commit/fcef0d4648c098699f60cdcc13ae7c6de80b0037
https://github.com/iTakeshi/paradise/commit/63e2b6ad4f9a22f75f3b56b0e5a5e9bcd4fca5bc

Then the `multiple expandees` error has (of course) gone but new error occurred:
[code]

Is this same problem reported in htt

[2016-07-21 16:27] iTakeshi commented on #12
UPDATE: I got it!

Please review https://github.com/scalameta/paradise/pull/15, Thanks.

[2016-07-29 08:48] xeno-by opened #16 "Consider removing support for macro annotations on parameters"
Over the years, I keep on receiving feedback that expanding enclosing definitions together with parameters is weird. I think we need to revise the necessity of this.

[2016-07-29 09:08] iTakeshi commented on #16
Clearly we can modify parameters of a class or a method by annotating the entire class or method, I agree with removing this feature.

[2016-08-02 08:57] xeno-by commented on #12
Fixed in https://github.com/scalameta/paradise/pull/15.

[2016-08-02 08:57] #12 closed

[2016-08-02 12:27] iTakeshi commented on #11
Do you mean that the problem is `@macroAnnotation(arg) object Foo` fails?

[2016-08-02 13:01] xeno-by commented on #11
I'd like the following code example to work:

[code]

[code]

For that I think that the following will need to be done:
  - [ ] Change the meta block compilation scheme to make it closer to [the pre-SIP](https://github.com/scala/scala.github.com/pull/530/files#diff-b8202bb65ece90a61f39ae56c28ee1feR139). I doubt that it will be easy to implement the entirety of the pre-SIP, but just allowing type a

[2016-08-02 13:18] iTakeshi commented on #11
Thanks for comprehensive example and description. I'll tackle it, but it will take a little bit longer, I think.

[2016-08-02 14:39] xeno-by commented on #11
Sounds great! Please let me know if you have further questions.

[2016-08-07 01:42] DavidDudson commented on #11
Extremely keen for this functionality. Required for any boilerplate free work on https://github.com/DavidDudson/InlineMacros

[2016-08-09 00:53] DavidDudson commented on #13
I presume this is the same issue shown in https://gist.github.com/DavidDudson/b2fb2f51c8919a1584911dc5bd5c1d61

On the topic of multiple expansion.

Which order does/should the compiler expand these annotations?

Eg. ``` @foo @bar <some definition> ``` Does foo expand before or after @bar

Another example

[code]

Does Foo expand before Bar?

[2016-08-09 03:32] bar commented on #13
well, it depends if you at handle this @bar or `@bar` :p

[2016-08-09 05:03] DavidDudson commented on #13
How many mentions do you get daily? I realised my mistake instantly and switched it, but obviously it was too late haha

[2016-08-09 05:25] iTakeshi commented on #11
@xeno-by sorry for late response (occupied with another project last week)

I tried the test case you showed above, and encount an error which says `not found: value greeting` (at `println($greeting)` in the quasiquote interpolation).

The macro implementatin
[code]
is translated by syntax analyzer (https://github.com/scalameta/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/pa

[2016-08-09 06:47] xeno-by commented on #13
@DavidDudson Hmm, actually it's some different issue. This one is only about putting multiple annotations on a single definition.

I'm currently finishing my PhD dissertation, so it may take a few days for me to look into this. Would you be interested in taking a look at the sources of the plugin and maybe contributing a fix?

Answering your questions:

1) Def macros expand inside out, i.e. macros

[2016-08-09 06:50] xeno-by commented on #11
That's a very comprehensive analysis! I'll try to respond with details soon.

[2016-08-09 22:05] DavidDudson commented on #13
Okay, I'll see what I can do. Need to get my head around the library a little better yet (And no IDE support makes it harder 😦). I might fix both this and the multiple expands problem if I can. I'll create another ticket for the other issue then.

[2016-08-09 22:10] DavidDudson opened #18 "Support nested expansion"
Spun out of #15.

As in https://gist.github.com/DavidDudson/b2fb2f51c8919a1584911dc5bd5c1d61

Only the outermost macro will expand when annotations are nested.

[2016-08-17 14:57] xeno-by commented on #11
1) `apply` should be a member of the companion, because it needs to be invokable at compile-time. If we declare `apply` in the class, then we won't be able to reflectively instantiate it during macro expansion.

E.g. if we have `object x; @foo(x) class C`, then we clearly can't create an instance of `foo` at compile time, because it refers to a value of an object that hasn't been compiled yet.

Th

[2016-08-19 15:35] iTakeshi commented on #11
1) understood, but maybe I need to study a little more about compilation procedure of scala (if you know good resources (i.e. docs or blog posts or something), plz tell me!). For this case, you mean the member of the companion can be invoked like https://github.com/scalameta/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/typechecker/Expanders.scala#L131 , but the field of a cl

[2016-08-19 20:01] DavidDudson commented on #11
I agree, binding parameters to this seems hackish and unusual from a user perspective.

From my perspective, if we can make the Syntax

[code]

We should, even if we have to generate the boilerplate of currying in the argument

[2016-08-19 20:02] DavidDudson commented on #11
Side note... Does this issue include type arguments? Or is that a seperate issue? (I haven't tried yet so it may even be possible currently).

[2016-08-20 02:01] iTakeshi commented on #11
@DavidDudson thanks for your comments! I agree with you that it's worth considering about type parameters in this issue. I'll try to make it possible:
[code]

[2016-08-20 04:57] DavidDudson opened #21 "[LogicalTrees] Trait Primary Constructor"
As shown in https://github.com/DavidDudson/paradise/commit/2076604266f381826ef8816aaade719ee7c4f2e8 (```sbt test:compile``` fails)

The problem is g.Empty Tree is passed in: https://github.com/scalameta/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/converters/LogicalTrees.scala#L485

What is the solution to this problem? Do we make Def.Trait's PrimaryCtor Optional in Meta? Or

[2016-08-20 09:43] iTakeshi commented on #11
@xeno-by Related to @DavidDudson 's comment, I have a question. In https://github.com/scalameta/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/parser/SyntaxAnalyzer.scala#L152 the `implVparamss` is generated by merging with `implVtparamss`, and in `L155` the `tparams` argument of the `DefDef` is explicitly set to `Nil`. Why is such translation needed?

[2016-08-22 15:23] xeno-by commented on #21
@dveim Could you comment on this?

[2016-08-22 16:09] Dveim commented on #21
Looks like this issue is fixed in https://github.com/dveim/paradise/commit/1d9a66fa564df312b88bf8b9057b31f1382715ed. Going to make PR soon.

As far as I understand, changing scalameta's API would require big effort. Another solution for such cases with `EmptyTree` -- use some zero analogue for particular tree.

[2016-08-27 22:02] DavidDudson commented on #16
My only argument against this is when you are using macro expansion as validation. And you don't know the context from the outer level.

Eg. a function which requires certain parameters to be `@NonEmpty`.
This function would simply add the line `assert param.nonEmpty`

`@NonEmpty` can be applied to
- String
- Option
- Collection

[code]

One alternative in this case could be some varargs annotatio

[2016-08-27 22:13] DavidDudson commented on #11
Something like `@SpecializeAll[T]` where `T <: AnyVal : TypeTag`

This would generate `@specialized` annotations for all methods on this class, but only of type T

e.g. `@specialized(typeOf[T])`

But given the complexity of this and how edge case it is, I would ignore it for now and this can be a problem that is fixed later

[2016-08-28 11:35] iTakeshi commented on #16
@DavidDudson The problem can be solved by using static annotation:

[code]

What do you think?

[2016-08-28 11:54] iTakeshi commented on #11
@DavidDudson Thanks for sample use case, but my question was a little bit different (sorry for my misleading comment)

My point is that the type parameter should be attributed to the annotation class, but not to the `apply` method, i.e.
[code]
Is there any case which requires the second form of definition?

If there isn't, probably we can drop this line https://github.com/scalameta/paradise/blob/2

[2016-08-28 22:48] DavidDudson commented on #16
@iTakeshi Nice solution, but the probelm there is ParamsValidator has to know about all cases of the markers to deal with them. Eg. what happens if that's in a library and someone wants to extend that to add `@Natural` meaning `param > 0`. It's impossible. Although this is one of those cases implicits can help...

[code]

But I still think this is a step backwards.

`@NonNull` on it's own is used

[2016-08-28 22:56] DavidDudson commented on #11
Ah i see. I can't see this being used very often at all. Abstracting over Defn/Decl doesnt seem ideal. What i would suggest doing is create another ticket for that and reference the commit that removes this functionality. That way if anyone does need this, it will get voted on and/or someone will implement it.

[2016-08-29 05:46] DavidDudson commented on #21
@xeno-by can this issue be closed now, If I recall correctly that PR was merged?

[2016-08-29 08:35] xeno-by commented on #21
Yes, that's right. Thanks!

[2016-08-29 08:35] #21 closed

[2016-08-30 23:20] DavidDudson opened #26 "Semantic"

[2016-08-31 14:39] xeno-by commented on #11
@iTakeshi @DavidDudson Indeed, in the case of macro annotations, `def apply` can't have type parameters.

On the other hand, if we consider a more general case that involves def macros as described in https://gist.github.com/xeno-by/9d7a709b1ba7c2ee64cfedcc5d264bd5, then inline methods can and will have type parameters.

[2016-08-31 14:46] xeno-by commented on #16
@DavidDudson This is a valid argument in favor of leaving the current expansion scheme for parameters. Thanks for a detailed explanation!

[2016-09-01 15:32] xeno-by commented on #11
Fix proposed in https://github.com/scalameta/paradise/pull/27.

[2016-09-01 16:17] iTakeshi commented on #11
@xeno-by Finally I understand why `implVtparamss` is necessary. Thanks for the ref.
Also, I'll see #27 this weekend.

[2016-09-05 06:29] DavidDudson opened #28 "Scalatest compile matcher fails"
This passes when used internally (i.e in the macroparadise test package). But fails when used externally (Eg. In my Elysium project (Formerly InlineMacros)).

[code]
Error is:
[code]

I presume this is an SBT configuration issue? Or something else which I'm completely missing.

I'm wondering if it is related to
What I want out of this ticket is to

A. Figure out what the problem is.
B. Make it wor

[2016-09-05 07:19] #11 closed

[2016-09-05 10:01] DavidDudson opened #29 "Inline apply method does not type check correctly"
Take for example a classic Identity macro

[code]

Now what if we were to change this to....

[code]

Clearly the bottom one is completely incorrect (The apply method is looking for a `Defn.Class` not `Defn.Def`), yet this compiles happily.

Why does this matter? (Other then for sanity).
We have to cast to the correct type on every use!

stolen from my repo...

`defn.asInstanceOf[Defn.Def].prepend

[2016-09-05 12:46] xeno-by commented on #3
Fixed by @dveim.

[2016-09-05 12:46] #3 closed

[2016-09-05 13:22] #4 closed

[2016-09-05 13:25] xeno-by commented on #29
The fact that the second definition compiles is an oversight, which is now fixed: https://github.com/scalameta/paradise/pull/30/commits/b8840b5902052d7194ce48b9a3efa2860079a8e3.

However, I think it would be interesting if we could restrict macro annotations to specific types of definitions. Maybe you have thoughts how to marry this idea with the design specified in https://gist.github.com/xeno-by

[2016-09-05 13:31] xeno-by commented on #14
Fixed in https://github.com/scalameta/paradise/commit/b8840b5902052d7194ce48b9a3efa2860079a8e3#diff-4c99817556e14f4c8003b48cf6f40fedR45.

[2016-09-05 13:31] #14 closed

[2016-09-05 14:30] xeno-by commented on #28
Could you provide a full stack trace?

[2016-09-05 20:57] DavidDudson commented on #28
[code]

[2016-09-06 09:27] xeno-by commented on #28
Could you rerun the test with the new 3.0.0-SNAPSHOT?

[2016-09-06 09:38] DavidDudson commented on #28
Hurray! That works. The code you pushed yesterday must have fixed this. Closing.

[2016-09-06 09:38] #28 closed

[2016-09-06 11:17] #13 closed

[2016-09-06 11:41] xeno-by commented on #18
Fixed in #31

[2016-09-06 11:41] #18 closed

[2016-09-07 07:15] DavidDudson commented on #29
So if I understand correctly. This is approximately the behaviour that is wanted:

Return type:

Always be `meta.Term` allowing things like companion class generation.

Parameter type:
Optionally, the parameter type can restrict the type of Term that the meta block can be applied to?
 By default, it is ensure that macro annotation is a modifier on a supported Term. (If annotations were removed fro

[2016-09-10 21:39] dwijnand opened #33 "3.0.0-M4 depends on scalameta 1.1.0-SNAPSHOT"
http://repo1.maven.org/maven2/org/scalamacros/paradise_2.11.8/3.0.0-M4/paradise_2.11.8-3.0.0-M4.pom

[2016-09-10 21:49] xeno-by commented on #33
That is an unfortunate oversight, indeed. I'm planning to fix this for 3.0.0-M5.

[2016-09-10 21:51] dwijnand commented on #33
Btw, I found out because I was looking at whether https://github.com/scalameta/paradise/issues/10 is still an issue. Perhaps I could spend time on that tomorrow :)

[2016-09-11 16:06] #33 closed

[2016-09-13 13:22] Quaiks opened #35 "Having problems with named params in annotations"
Hi!

I am trying to extract the value of a named parameter this way but I don't know if I am doing it right or this is not supported yet. Using scala.meta `1.1.0` and macro paradise `3.0.0-M5`

[code]
[code]

The above code doesn't compile, throws the following error

[code]

Am I doing something wrong? Thanks in advance!

[2016-09-13 13:30] Dveim commented on #35
Hi Quaiks!

Looks like this is one of missing parts in scala_reflect - scala_meta trees converter. I'll add this functionality soon.

[2016-09-13 13:33] Quaiks commented on #35
That was quick! Thanks @Dveim. I am looking forward to it!

[2016-09-13 15:31] Dveim commented on #35
See https://github.com/scalameta/paradise/pull/36 .

[2016-09-14 13:42] Quaiks commented on #35
Nice!

[2016-09-15 00:10] DavidDudson commented on #26
Note  `"inline def foo() = 2" should compile` breaks in scalatest-3.0.0, even with scala.meta-1.1.0. I've tried including the relevant imports in the test string and/or importing them into the file. I'm wondering if there is a way to integrate with scalatest existing compile macro and extend it. Perhaps I should ping the scalatest team and see what we can do...

[2016-09-15 01:06] DavidDudson opened #37 "Missing ToMTree converter (Inline modifier)"
Short stacktrace

[code]

I'm pretty sure this is separate to https://github.com/scalameta/paradise/issues/35

Version: Meta 1.1.0, Paradise 3.0.0-M5

Macro being expanded:
https://github.com/DavidDudson/Elysium/blob/GenExperiments/gen/src/main/scala/nz/daved/elysium/gen/CompileTime.scala

Branch to checkout if you want to experiment (This branch compiling means that the bug is fixed):
https://git

[2016-09-15 01:10] DavidDudson commented on #37
Note this was probably not expected when first designed. But now meta has a Mod.Inline modifier. So I presume this needs to check the dialect is Paradise211 too

[2016-09-15 08:14] dwijnand opened #38 "6 tests in Repl and NewRepl fail"
Using the current HEAD of the 2.11.8 branch (https://github.com/scalameta/paradise/commit/4e3b7a6a48ab298019d123306549dffb1820de35) I'm seeing:

[code]

[2016-09-15 08:15] dwijnand commented on #38
This is blocking me from validating similar build improvements as https://github.com/scalameta/scalameta/pull/474.

[2016-09-15 08:24] Dveim commented on #38
Cannot reproduce. Checked on fresh `git clone https://github.com/scalameta/paradise.git; cd paradise; sbt test`.

[2016-09-15 13:54] Dveim commented on #37
That's related to #35 in sense that converter is not finished at the moment. It lacks ~1/3 of scala-reflect APIs and, most importantly, tests.

I'll fix this one soon.

[2016-09-20 12:08] #38 closed

[2016-09-20 12:09] xeno-by commented on #35
Should be fixed in 3.0.0-SNAPSHOT.

[2016-09-20 12:09] #35 closed

[2016-09-22 09:03] iTakeshi opened #43 "Check exhaustiveness of ToMtree"
`ToMtree` lacks some converters necessary for dealing with some particular cases (as you can see in issues #35, #36, #37, #40, #41, #42). Even though this does NOT reduce the value of @Dveim 's awesome work at all, `ToMtree` should be exhaustive in converting `gtree`, because it is one of the core modules of this plugin.

So, how can/should we write specs which properly ensures the exhaustiveness?

[2016-09-22 09:16] DavidDudson commented on #43
On Idea might be to fuzzy test (Property test with large amounts of time and randomness) ToMTree. We can generate random bits of valid Scala syntax via the meta.Tree's and then call .show[Syntax] to get some sort of textual representation. We can then pipe that through. This is not exhaustive, but given enough iterations it would definitely find the missing parts.

Note: There are a lot of known p

[2016-09-22 10:21] Dveim commented on #43
Indeed, converter is not finished yet (I was adding missing parts by demand). In my option, best option would be to have test cases for all API from `scala.meta.Trees` and verify exhaustiveness manually, not sure if autochecking is worth the efforts (and, most importantly, is really hard to have guarantees for exhaustiveness, we can trap in "chicken-or-the-egg" problem).

[2016-09-22 11:26] olafurpg commented on #43
I agree with @Dveim that a manually written test suite that covers all corners of scala.meta.Tree is a must-have.

I would also argue that it necessary to have a test suite that runs the converter on several million lines of code from open source projects and checks for properties like "the converter doesn't crash". My experience with scalafmt is that such tests are really effective at finding bug

[2016-09-22 14:53] xeno-by opened #49 "Be smarter about classpath scanning in Mirror"
[code]

Currently, this snippet of code will eagerly scan the classfiles on the provided classpath looking for TASTY sections (https://github.com/xeno-by/scalameta/blob/f8e31ba173f86fc795f7cc43c7f5eb71d4511842/scalameta/artifacts/src/main/scala/scala/meta/artifacts/Ecosystem.scala#L135).

It would be nice if we didn't pay an upfront cost here. We should explore a combination of one or more of the

[2016-09-22 15:39] iTakeshi commented on #43
Thanks for your comments.
I understand manually-written specs are necessary, and additional tests on randomly-generated code or OSS projects will be helpful.

@Dveim are you already working on this? If there are something I can help with, I'd be happy to work on them.

[2016-09-22 15:51] olafurpg commented on #43
FWIW, [here's](https://github.com/olafurpg/scalafmt/blob/master/core/src/test/scala/org/scalafmt/util/ScalaFile.scala) a zip file of 3 million lines of only scala sources. I use [this](https://github.com/olafurpg/scalafmt/blob/master/core/src/test/scala/org/scalafmt/util/ScalaFile.scala) code in scalafmt to automatically download the zip, uncompress it, parse the files and run analysis on them.

[2016-09-22 18:43] Dveim commented on #43
@iTakeshi No, I'll start in October. Task is easily parallelizable, would be great to work on it together.

[2016-09-23 08:55] olafurpg opened #52 "Scoverage + meta paradise cause position error"
When using scala.meta inline/meta macro annotation in combination with scoverage I get the following error on compilation

[code]

Travis build: https://travis-ci.org/olafurpg/scalafmt/builds/162118657#L2062-L2086

Using:
[code]

[2016-09-23 12:05] iTakeshi opened #54 "NullPointerException with playframework"
In a project which uses scalameta.paradise with playframework, a `NullPointerException` is thrown when a macro-generated AST occurs a compilation error.
I have not investigated thoroughly about this yet, but the cause seems to be that the generated AST does not have proper position info. So this might be related to #52; CC @olafurpg

This problem does not happen in a project withOUT playframework

[2016-09-23 12:38] iTakeshi commented on #43
@olafurpg That's a cool stuff!! So you're going to apply it to `ToMtree`, right? I'm really looking forward it!

@Dveim OK, then I'll try first on this weekend if I can.

[2016-09-23 12:54] olafurpg commented on #43
@iTakeshi That is the plan : )

[2016-09-23 13:56] Dveim commented on #37
This one is not as easy as I thought before. Pushed commit with partial fix, however, cannot understand how to fix that
[code]
error properly. Error message looks like as if paradise plugin was not included, so I suppose that parsing stage should be modified.

Any ideas and suggestions are welcome.

[2016-09-23 14:54] olafurpg opened #55 "SBT doc/publishLocal freezes in project using inline/meta macro annotation"
To reproduce: run `publishLocal` from this commit: https://github.com/olafurpg/scalafmt/pull/459/commits/cdf3202559cf77c667e8ad98f0fc91428c092efa

The issue was caught in CI: https://travis-ci.org/olafurpg/scalafmt/builds/162166059#L1893

Disabling scaladoc generation resolves the issue, I use these settings to enable paradise 3

[code]

[2016-09-23 21:11] jvican commented on #26
I like the idea and would love to see this into paradise!

[2016-09-23 23:03] DavidDudson commented on #37
Usually that error comes from inline being seen as an identifier, and not handled in the parser. That was what https://github.com/scalameta/scalameta/pull/475 fixed. Does paradise definitely have these changes? And use the parser in an identical fashion?

[2016-09-26 08:50] Dveim commented on #37
Yes, paradise supports `inline` in parsing -- it recognizes keyword first time (so modifiers are updated successfully).

I suppose syntax analyzer should be hijacked in few more places, but could not find where exactly.

[2016-09-26 09:47] DavidDudson opened #56 "Scoverage + meta causes source root issues"
May be loosely related to https://github.com/scalameta/paradise/issues/52

See https://travis-ci.org/DavidDudson/Elysium/builds/162728298 for an example full stacktrace.

Basically because scala.meta produces lots of <macro> packages for the expanded code, sbt does not have a source root for these packages, thus coverage cannot figure out how to manage the coverage results.

[2016-09-28 09:03] iTakeshi commented on #43
I wrote a prototype of the test suite. https://github.com/iTakeshi/paradise/commit/6e1485b75e1d64965230ed5cdc0d8f102b84499a

There are some points:
* Is the style in which I wrote OK?
* Does anybody know how to import just `scala.reflect.api.Quasiquote` (i.e. `q""` syntax) without doing `import scala.reflect.runtime.universe._` ?
* My implementation still fails because `shouldEqual` compares `actu

[2016-09-28 09:26] olafurpg commented on #43
@iTakeshi Here's a different approach that might be worth considering, it looks roughly like this:

[code]

I haven't tried to implement it, but it would allow for very a concise syntax. Structural equality should be enough to ensure two trees are the same, [here](https://github.com/olafurpg/scalafmt/blob/db873b0eefa031a026edc48e76244e78b7f533e5/core/src/test/scala/org/scalafmt/util/FormatAssertio

[2016-09-28 12:22] iTakeshi commented on #43
@olafurpg Nice solution. Thanks!
I added a commit with an implementation of your suggestion. How is that?

[2016-09-28 12:26] olafurpg commented on #43
@iTakeshi That looks great 👍

[2016-09-28 12:30] iTakeshi commented on #43
@olafurpg Thank you!

@Dveim How do you think? If you feel OK, I'll proceed to add other cases

[2016-09-28 12:35] iTakeshi commented on #43
BTW, I think that checking equality (not structural, but semantic) of two trees is useful for solving #26, how do you think? cc @DavidDudson

[2016-09-28 12:45] olafurpg commented on #43
@iTakeshi I think semantic equality is a research topic on it's own. Two different ASTs can be observationally equivalent, for example `def x = {2}` and `def x = 2`. Solving this generally is quite hard.

However, you can be sure that two trees with identical ASTs are semantically equal. It would be nice to have a `normalize: Tree => Tree` method in scala.meta that can do basic semantically preser

[2016-09-28 14:16] Dveim commented on #43
@iTakeshi Very nice approach, I like it. One note -- there are few syntaxes (`inline`, `type A = B | C | D`, mb more) that wont be parsed correctly by `GParser` (or it should be adjusted). These should be handled separately, I think.

[2016-09-28 18:08] DavidDudson commented on #43
@itakeshi it might actually work. Sounds good :+1:

[2016-09-29 09:05] DavidDudson opened #57 "InvariantFailedException?"
Probably a programming error... But can we please get a more user friendly error for this case?

[code]

Should be able to reproduce along the lines of...

```Defn.Val(Nil, Term.Name("Foo") :: Nil, None, Lit("Bar"))```

[2016-09-29 09:41] DavidDudson commented on #57
For some context, I'm writing a macro that stores the state at expansion time. For testing macro expansions at multiple stages. I believe the code above should "almost" work. I believe the val will actually be a string, but I think thats good enough you compare the structure of it with another for now. https://github.com/DavidDudson/Elysium/commit/22b7c717d94859f748c1201578bf82d859299424

[2016-09-30 06:28] xeno-by commented on #57
Thanks for the feedback. That's one of the pain points of the current scala.meta API (https://github.com/xeno-by/scalameta/blob/master/scalameta/trees/src/main/scala/scala/meta/Trees.scala#L169).

We'll have to revisit some aspects of our AST design in the future. I've been holding that off until the first stable release, but the demand becomes bigger and bigger.

[2016-09-30 09:20] DavidDudson commented on #57
Oh I see. https://github.com/xeno-by/scalameta/blob/master/scalameta/trees/src/main/scala/scala/meta/Trees.scala#L206 was what i needed to see.

I thought for some reason that the reason for Pat.Var.Term to differentiate vars from vals. I obviously was wrong, and Var just means "Some variable type". Perhaps its just the error message that need improving. But thats a scala meta issue

[2016-09-30 09:20] #57 closed

[2016-09-30 10:14] DavidDudson commented on #57
@olafurpg would you be able to add some info about the pat types and Pat.Var this to the scala workshop Trees section https://olafurpg.github.io/scala.meta-workshop/#Part2:Trees. Might be useful for others

[2016-09-30 14:29] iTakeshi commented on #43
Thanks @olafurpg & @DavidDudson , I'll try that.

@Dveim Ah, I didn't notice those cases, they should be considered in near future. Anyway I submitted a PR with current implementation in order to just step forward. Please review that, and I hope working together.

[2016-10-06 20:36] raulraja opened #59 "Macro expansion failes on types parameterized to type constructors"
Something like this...
[code]
Results in
[code]

[2016-10-10 17:38] xeno-by commented on #59
@dveim Can you take a look at this please?

[2016-10-10 17:45] Dveim commented on #59
Looks like one more converter issue. I'll do it tomorrow.

[2016-10-11 13:52] #59 closed

[2016-10-12 13:13] iTakeshi commented on #43
Solved with #69 , closing.

[2016-10-12 13:13] #43 closed

[2016-10-14 10:44] xeno-by opened #74 "For loops"
Scalac desugars for loops into their monadic representation during parsing, which means that even syntactic converter is going to suffer from this. Therefore, we need to undesugar these for loops - either in the converter or in the ConverterSuite.

[2016-10-14 11:19] xeno-by opened #75 "Try with term"
`try foo catch bar` gets desugared by the scalac parser. We need to undo this desugaring either in the converter itself, or in the ConverterSuite.

[2016-10-14 12:01] xeno-by opened #76 "String interpolation"
String interpolations are desugared in Scalac parser. We should either ensugar them in the converter or take care of them in the ConverterSuite.

[2016-10-15 19:07] xeno-by opened #84 "Syntactic converter"
Yet uncovered tree nodes (courtesy of @olafurpg):
- [ ] Ctor.Ref.Function
- [ ] Ctor.Ref.Name
- [ ] Ctor.Ref.Project
- [ ] Ctor.Ref.Select
- [x] Defn.Macro (#119)
- [ ] Enumerator.Generator
- [ ] Enumerator.Guard
- [ ] Enumerator.Val
- [ ] Mod.Inline
- [ ] Pat.ExtractInfix
- [x] Pat.Type.And (inapplicable for Scala 2.x)
- [ ] Pat.Type.ApplyInfix
- [ ] Pat.Type.Existential
- [ ] Pat.Type.Function
-

[2016-10-15 19:10] xeno-by commented on #84
/cc @olafurpg @dveim @iTakeshi @DavidDudson Guys, I could really use some help here. The tasks are almost perfectly parallelizable, so we'll most likely be quite productive.

[2016-10-16 13:37] Dveim commented on #84
Not sure about given categories differentiation -- shouldn't we keep `scala.meta.Trees` / `LogicalTrees` as basis? For example, what `Lambdas` here mean, `Term.Function` ? So, I'd suggest to use leaves  of `Trees` for categories, that sounds more intuitive for me.

Meanwhile, I'd take `imports`.

[2016-10-17 06:51] xeno-by commented on #84
@Dveim I think it would be more practical to support the most frequent syntactic patterns first. For instance, even though `Term.Function` is just one AST node, it's much more popular than a bunch of `Pat.Type` nodes. That's why I think we should take the aforementioned Eden test suite and try to make it work, and only then go for supporting an exhaustive list of AST nodes.

[2016-10-17 06:59] xeno-by commented on #84
Today I'll be working on members.

[2016-10-17 10:14] olafurpg commented on #84
Regarding context bounds, they are desugared like this

[code]

What means do we have to figure out which syntax was originally used?

[2016-10-17 10:37] xeno-by commented on #84
You check the name of the implicit parameter. If it contains a dollar, then you collapse into the context bound.

[2016-10-19 08:55] xeno-by commented on #84
My work on modifiers and members got blocked by our infrastructure around converters. After #91 and #98, I'm more or less happy with the infrastructure, but now I have to context switch. Therefore, I'm yielding members and modifiers to @olafurpg.

[2016-10-25 09:08] Dveim commented on #84
I'd take `Lambdas`.

[2016-10-25 09:17] olafurpg commented on #84
Cool! Feel also free to tackle modifiers or members if you like, I haven't done anything there yet and for the rest of this week I'm working on other things.

[2016-10-30 02:09] Andrei-Pozolotin opened #105 "plugin name mismatch"
1) **macroparadise**:
https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/Plugin.scala#L17

vs:

2) **meta-paradise-plugin** (jar/scalac-plugin.xml)
http://search.maven.org/#artifactdetails%7Corg.scalameta%7Cparadise_2.11.8%7C3.0.0-M5%7Cjar

problem in scala-ide 4.4.1:
- `Xplugin-require` needs `macroparadise` to discover from `Xpluginsdir` jars
- `meta-p

[2016-10-31 17:29] xeno-by commented on #105
@olafurpg Can you take a look at this please?

[2016-10-31 17:44] olafurpg commented on #105
I think we can make the two the same

Here: https://github.com/scalameta/paradise/blob/280a8762c661d8be7782e7ec8c2f87a6d29b4afe/plugin/src/main/scala/org/scalameta/paradise/embedded/scalac-plugin.xml#L2
and here: https://github.com/scalameta/paradise/blob/280a8762c661d8be7782e7ec8c2f87a6d29b4afe/plugin/src/main/scala/org/scalameta/paradise/Plugin.scala#L17

Which one do you prefer @xeno-by, `meta-

[2016-10-31 18:47] DavidDudson commented on #105
I think meta paradise is more consistent

[2016-11-01 08:26] xeno-by commented on #105
This is strange. These two names are different in macro paradise 2.x, too:
* https://github.com/scalamacros/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/embedded/scalac-plugin.xml#L2
* https://github.com/scalamacros/paradise/blob/2.11.8/plugin/src/main/scala/org/scalamacros/paradise/Plugin.scala#L11

I'll debug this one of these days and figure this out definitively.

I thin

[2016-11-01 15:34] olafurpg opened #113 "Tuple destructuring"
[code]

[2016-11-02 16:48] olafurpg opened #115 "Mod.Annot disappear in Defn.Val pattern with no Pat.Extract"
It appears scalac throws away the annotation.
[code]

[2016-11-02 17:53] xeno-by commented on #105
I've briefly taken a look at the place inside the Scala compiler where compiler plugins are loaded. It seems that the `<name>` from `scalac-plugin.xml` only affects error messages, so we can put anything we want there.

I suggest we maintain backward compatibility, and use whatever macro paradise 2.x is using, i.e. `macro-paradise-plugin`.

@Andrei-Pozolotin What kind of problems are you encounter

[2016-11-02 19:22] olafurpg commented on #84
@Dveim Do you have any un-merged work on Lambdas? I'm working on ValDef patterns in #114.

[2016-11-02 19:37] Dveim commented on #84
Nothing important, merge won't be a problem.

I received bigger amount of work (at primary job) then expected. Sorry for that delay, I hope to get more free time soon.

[2016-11-02 20:22] olafurpg commented on #84
No worries, just good to know. I'm working on the converter full-time this week and I've made a ton of progress. I may take lambdas then if that appears to be the next big blocker.

[2016-11-02 21:03] Andrei-Pozolotin commented on #105
@xeno-by

the problem is "confusion":

1) here: https://github.com/scalameta/paradise/blob/master/README.md
you say `-Xplugin:<paradise>`, which prompts for search for "what you mean by `<paradise>`"?

2) the search results in 2 names:
* `macroparadise`
* `meta-paradise-plugin`

3) since I want `meta` and not `macro`,
* I choose `meta-paradise-plugin`,
* and that does not work :-)

so, it would he

[2016-11-02 21:14] Dveim commented on #84
Sure, if that blocks.

[2016-11-02 21:41] Andrei-Pozolotin commented on #105
probably should clarify: we do not use `-Xplugin`. instead, we collect all plugins jars in a single directory `Xpluginsdir` and then load them by plugin names via `Xplugin-require`:

![image](https://cloud.githubusercontent.com/assets/1622151/19948566/200d9f48-a11b-11e6-88a6-b22d2bdfba7c.png)

[2016-11-03 19:34] olafurpg opened #116 "Disappearing pos in Defn.Val with multiple patterns"
It seems impossible to merge `Foo()` and `y` in this example because the position is lost for `Foo()`
[code]

[2016-11-04 06:17] kralikba opened #117 "Expand macro annotations in REPL"
```sbt console``` fails to initialize correctly if the paradise-3.xxx plugin is enabled.
The error message is:
``` [init] error: error while loading Object, Missing dependency 'object scala in compiler mirror', required by /usr/lib/jvm/java-8-oracle/jre/lib/rt.jar(java/lang/Object.class) ```

A minimal ```build.sbt``` that reproduces the issue:
[code]

[2016-11-04 10:27] olafurpg commented on #117
Thanks for reporting! Here is a minimal template to reproduce the error: https://github.com/olafurpg/scalameta-macro-template/blob/98d4a69f43f6346abf32ee559a485c3feb9f7e32/build.sbt

[code]

[2016-11-04 10:38] olafurpg commented on #117
Here is a diff to fix the issue: https://github.com/olafurpg/scalameta-macro-template/commit/3f5c1e2bc967cd1cac902b5ff69b0c8bf21ab652

Does that work for you?

[2016-11-04 12:30] kralikba commented on #117
Well, it doesn't throw errors, but I wouldn't say that it works. As the ```paradise``` plugin is not present, the repl is of no use for playing around. (e.g. in ```sbt macros/console```, ```@main object X { println(5) }``` outputs an error message, which I completely understand)

[2016-11-04 12:48] olafurpg commented on #117
I see what you mean, I haven't used the repl to play around with macro annotations. I just do `~app/run` and hack on the original code. The benefit to this workflow is that you can edit both the macro definition and call-site. The repl is complicated the setup for macros because they need separate compilation.

[2016-11-04 12:50] kralikba commented on #117
I want to do this only because this works with paradise 2.1.0. If I’m not mistaken, each „line” in the REPL is a separate compilation.

From: Ólafur Páll Geirsson [mailto:notifications@github.com]
Sent: Friday, November 4, 2016 1:49 PM
To: scalameta/paradise <paradise@noreply.github.com>
Cc: Kralik Barnabas <kralikba@inf.elte.hu>; Author <author@noreply.github.com>
Subject: Re: [scalameta/paradise

[2016-11-04 12:51] olafurpg commented on #117
I've updated the issue title, I agree that it would be great to be able to experiment with macro annotations in the REPL.

[2016-11-04 14:42] #76 closed

[2016-11-04 14:51] olafurpg commented on #113
Fixed in #114.

[2016-11-04 14:51] #113 closed

[2016-11-04 14:53] olafurpg commented on #84
@xeno-by Could you please clarify members, modifiers and lambdas?

[2016-11-04 16:13] olafurpg commented on #84
Quick status update. I did a small experiment to see which parts of m.Tree are uncovered by the converter:

[code]

Out of a corpus of ~26k source files (from scala/scala, intellij-scala, scala.js, akka, ...), the converter crashes on (only) ~120 source files, split between these errors

[code]

[2016-11-05 08:47] xeno-by commented on #84
@olafurpg Amazing job! How about we replace the first comment in this thread with your latest comment?

[2016-11-06 06:07] xeno-by commented on #117
This is a duplicate of #10. I'll link this very helpful discussion there.

[2016-11-06 06:07] #117 closed

[2016-11-06 06:07] xeno-by commented on #10
More information about this issue can be found in https://github.com/scalameta/paradise/issues/117.

[2016-11-06 06:46] xeno-by commented on #75
Superseded by https://github.com/scalameta/paradise/issues/84

[2016-11-06 06:46] #75 closed

[2016-11-06 06:47] xeno-by commented on #74
Superseded by https://github.com/scalameta/paradise/issues/84

[2016-11-06 06:47] #74 closed

[2016-11-06 06:53] xeno-by opened #120 "Consider expanding on enter"
At the moment, macro annotations in paradise 2.x expand top-level definitions on complete and other definitions on enter. This is done to make sure that `c.typecheck` works somewhat consistently, but that leads to inconsistencies in expansion behavior (+ the infamous eponymous expansion restriction).

New-style macro annotations don't support `c.typecheck`, which means that we can expand everythin

[2016-11-06 09:50] xeno-by commented on #105
It is unfortunate that we use two different names in scalac-plugin.xml and in Plugin.scala, but I'm not sure whether we can change that at this point. I think we should provide clear instructions instead, so that noone has to grep the source code in the first place.

Using @olafurpg's excellent template project for new-style macro annotations, I created a tutorial that explains writing such macros

[2016-11-06 09:50] #105 closed

[2016-11-09 21:28] olafurpg commented on #16
I still don't see the need for macro annotations on parameters. Given @DavidDudson's example, there is no need to do this

[code]

You can instead do this
[code]

where `@Validate` is a macro annotation and `@NonEmpty/@NotNull` are empty static annotations

[code]

I do this my my metaconfig macro annotation in scalafmt to support `@ExtraName("deprecatedName") newName: T` on parameters, see [here]

[2016-11-09 21:43] DavidDudson commented on #16
@olafurpg The point is that the surrounding annotation has to exhaustively know about all the possible validators and pattern patch on them. (I've done it before too). The idea with parameter annotations is that you don't require this information.Yes you could technically build one huge pattern match for the 30ish validators I want to create. But I think it's unnecessary and impractical. (Personal

[2016-11-09 21:55] olafurpg commented on #16
I see your point, I hadn't thought of that. OTOH, [code reuse](http://scalameta.org/tutorial/#HowdoIreusecodebetweenmacros?) is easy so there's no need to copy-around entire implementations. Each validator could implement an interface

[code]

[2016-11-23 20:16] reid-spencer commented on #55
👍 Thanks for the work around. Of course, ideally we want scaladoc to handle scala.meta

[2016-11-25 12:44] olafurpg opened #135 "Support type parameters on macro annotations"
Example: http://pastebin.com/0mYw24UA

[code]

This has been asked twice on Gitter.

[2016-11-26 16:48] xeno-by opened #136 "Disappearing val/var modifiers in class parameters"
Reposted from https://github.com/scalameta/scalameta/issues/555

[code]

Doesn't work, because the `val` modifier is lost and then the `AnyVal` infrastructure complains about that.

[2016-11-26 17:00] xeno-by commented on #136
@Keshi thanks a lot for reporting!

This seems to be an issue in the infrastructure that converts scala.reflect ASTs into scala.meta ASTs (something that we call "the converter").

Here's the relevant code excerpt from https://github.com/scalameta/paradise/blob/1dd67faaf312af15ff8a6ecde963b7a4649108d0/plugin/src/main/scala/org/scalameta/paradise/converters/LogicalTrees.scala#L1130-L1140:

[code]

[2016-11-27 01:35] #135 closed

[2016-11-27 01:44] xeno-by commented on #135
Fixed in paradise 3.0.0.137.

[2016-11-27 14:56] olafurpg commented on #136
I just submitted #138 to fix this issue.

[2016-11-27 19:20] #136 closed

[2016-12-12 17:44] Saheb opened #141 "Extra Parentheses wrongly generated"
[code]

[code]

`final case class Person(v: String) extends Human()`

The extra parentheses on Human shouldn't be present!

[code]

[2016-12-13 05:59] xeno-by commented on #141
Are we talking IntelliJ integration here?

[2016-12-13 08:43] olafurpg commented on #141
The parentheses come from the converter

[code]

[2016-12-13 09:04] xeno-by commented on #141
I'm trying to understand why it matters whether the parentheses are there or not. Both alternatives (with and without parentheses) are semantically equivalent. Moreover, macro expansions never get prettyprinted except for IntelliJ support.

[2016-12-13 09:28] Saheb commented on #141
From end user perspective, not getting the same thing what was initially present is a bit misleading. Apart from that as previously stated, they are same and compiles fine.

[2016-12-15 10:22] xeno-by opened #143 "improve Mirror.tpe to account for all kinds of members"
See https://github.com/scalameta/paradise/pull/142#discussion_r92577434.

[2016-12-16 23:02] mandubian opened #144 "v3.0.0-beta4: in macro annotation, `new Foo[Int]{}` converted into `new Foo[Int]()`"
[code]

[2016-12-17 11:06] olafurpg commented on #144
Thanks for reporting! I can confirm this is a bug in the converter, it appears that an `Apply` node is lost in templates:

[code]

I suspect #141 is related. I'll need more time to investigate this.

[2016-12-19 10:57] #144 closed

[2016-12-19 10:59] olafurpg commented on #144
You can try out the fix with version `3.0.0.145` via the scala.meta bintray ivy repo once the ci completes after the merge on master. Please let me know how it works!

[2016-12-22 12:17] lloydmeta opened #146 "For-comprehensions with assignments break macro annotation expansions"
Added a test [in my fork here](https://github.com/lloydmeta/paradise/blob/bug/for-compr/tests/annotations-meta/src/test/scala/compile/Expansion.scala#L6-L16) to demonstrate.

The simple test case demonstrates that for-comprehensions don't quite work well
with ScalaMeta annotations when there is an assignment (`=`) used in between generators
(`<-`).

[code]

becomes (via `println(s.syntax)`)

[code

[2016-12-22 16:15] olafurpg commented on #146
Hmmm. This is a tricky one because we currently don't undo desugarings in for comprehensions. I suspect solving this issue properly involves solving for comprehensions, which requires some work. It's totally doable, but not a top priority at the moment. Until then, I'm afraid the best workaround is to either bind the `n + 2` expression to a bogus name or move the for comprehension into a separate

[2016-12-22 17:47] lloydmeta commented on #146
Yeah, it does seem tricky. I poked around to see if I could find a simple fix, but for now [my hack](https://github.com/lloydmeta/paradise/commit/569e12f3b32a188714f920bcbe6d47fafeb05fd5) involves disabling undesugaring (resugaring?) of synthetic names and lambdas, which "fixes" my test case, but causes 2 tests to fail, namely

1. a.foreach(_ => bar())
2. a.foreach(_ + _)

I suppose this is to be

[2016-12-22 18:02] olafurpg commented on #146
Yes, I ran your example and stumbled into the same problem. Any workaround I could come up with will either be a temporary hack until for-comprehensions are properly handled or break other resugarings (I like that word 👍 ).

[2016-12-27 16:37] marcintustin opened #147 "Regression in 3.0.0-M5 regarding parametric macros"
I have the following macro which works just fine with `"org.scalameta" % "paradise" % "3.0.0-beta4"` (i.e. my build.sbt contains `addCompilerPlugin("org.scalameta" % "paradise" % "3.0.0-beta4" cross CrossVersion.full)`). However with 3.0.0-M5 it results in the following compilation error:

[code]

The code:
[code]

[2016-12-27 16:40] olafurpg commented on #147
3.0.0-M5 is older than beta4.

[2016-12-27 16:41] marcintustin commented on #10
I still have this issue with 3.0.0-beta4

[2016-12-27 16:48] marcintustin commented on #147
@olafurpg Well that would explain it.

[2016-12-27 16:48] #147 closed

[2016-12-27 21:09] marcintustin commented on #10
Incidentally, this workaround doesn't help me, because I need the compiler plugin to compile my code: https://github.com/scalameta/sbt-macro-example/commit/3f5c1e2bc967cd1cac902b5ff69b0c8bf21ab652

[2016-12-29 23:54] olafurpg commented on #37
@DavidDudson I'm not sure I quite follow, is this issue about converting code with the `inline` modifier? Have you tried running such a test in `Syntactic`?

[2016-12-30 01:14] DavidDudson commented on #37
@olafurpg Yes the issue is about the inline modifier, although the specific case I care about is when inline is used in front of a `def` so that i can generate macro annotations via macro annotations (macro-ception?)

`inline def apply(a: Any): Any = ???`

will get expanded into (`g.Tree`):

`@new scala.meta.internal.inline.inline() def apply(defn: Any): Any = ???`

Which during the g => l => m tr

[2016-12-30 06:38] DavidDudson commented on #37
@xeno-by At what point in the conversion from g.Tree => l.Tree should the inline code be swapped?

The problem I'm having at the moment is that inline isn't "attached" the the def/var/val etc. that it theoretically is connected to. They are processed as 2 separate trees.

My current thinking is at block level (or anything with stats):

1. Search for the `@new scala.meta.internal.inline.inline()`,

[2016-12-30 06:49] DavidDudson commented on #37
@olafurpg it looks like inline isn't supported at all as a keyword in the syntactic tests. Or do you mean i should have the syntactic test as `@new scala.meta.internal.inline.inline() def apply(a: Any): any = ???`

[2016-12-31 03:38] DavidDudson commented on #37
@xeno-by Almost complete patch with one issue is ready.

Because toString is called on the final tree https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/typechecker/Expanders.scala#L172

A dialect is required.

This defaults to Scala211:
https://github.com/scalameta/scalameta/blob/master/scalameta/trees/src/main/scala/scala/meta/internal/prettyprinters/T

[2016-12-31 03:47] DavidDudson commented on #37
@olafurpg syntactic tests also fail because the test parser uses dialect.Scala211 not dialect.Paradise211 I'm unsure whether we want to inject dialects into the test parser?

[2017-01-01 05:17] lloydmeta commented on #146
I think [this issue in Scalameta](https://github.com/scalameta/scalameta/issues/148) may be related.

[2017-01-02 10:52] olafurpg commented on #37
@DavidDudson I tried to change the parser in `Syntactic` to use the hijacked syntax analyser (which accepts `inline` as a keyword) but with no luck.

Have you tried to change `.toString` to `.syntax(Paradise211)`? `.toString` should be avoided anyways.

[2017-01-02 11:00] DavidDudson commented on #37
@olafurpg oh well, we can make that a future issue, non-syntax tests will have to do for now.
Syntax does not support an implicit or explicit Dialect. I guess we could potentially add one

[2017-01-02 11:04] DavidDudson opened #150 "Use the Hijacked syntax analyzer for syntactic tests"
Pretty simple,

Allows syntactic tests to contain the inline modifier.

See #37 for context

[2017-01-02 11:11] olafurpg commented on #37
My bad, I meant `.tokens(Paradise211).mkString`. I think that might work.

[2017-01-02 11:17] olafurpg commented on #37
Alternatively, seems you can call `.syntax` on a (Dialect, Tree) pair

[code]

[2017-01-02 21:15] DavidDudson commented on #37
One step closer thanks @olafurpg.

The problem now is that the output of `(Paradise211, q"inline def foo = 2").syntax` gets piped into scalac's UnitParser which is not Hijacked. So it has the same problem as the Syntactic tests. We need to pipe the result through the hijacked syntax analyzer.

[2017-01-02 21:29] olafurpg commented on #37
The rabbit hole gets deeper : )

Have you tried to replace the call to `newUnitParser` with this method here? https://github.com/scalameta/paradise/blob/b7e467b3bb5de06e042ef6bdfa2957ea958dfdd0/plugin/src/main/scala/org/scalameta/paradise/parser/SyntaxAnalyzer.scala#L29

Here's how an instance of the hijacked syntax analyzer can be constructed from a global: https://github.com/scalameta/paradise/b

[2017-01-02 22:18] DavidDudson commented on #37
BINGO! Thanks @olafurpg i believe its working!

[2017-01-04 02:12] DavidDudson opened #151 "Regression with anon functions as parameters to macro annotations"
Using the macro below...

[code]

The below compiles in 3.0.0-M5
but does not in 3.0.0-beta4

Both using scalameta 1.4.0

[code]

It appears the `() =>` part of the tree has disappeared....

Replacing with:

[code]

Successfully compiles.

Surely this is a regression? you should actually have to specify the anon function syntax rather then just having a statement.

[2017-01-04 09:32] olafurpg commented on #151
Have you tried running `val q"new $_(() => ${apply: Term.Apply})" = this` through `Syntactic`?

[2017-01-04 09:45] DavidDudson commented on #151
@olafurpg That's not the problem (That passes by the way). The problem is how paradise is dealing with parsing the Annotations tree...

the below fails:

`syntactic("""@foo(() => "bar") val bar = ???""")`

[code]

[2017-01-04 09:46] DavidDudson commented on #151
It should be a trivial fix. I might get onto it myself soon

[2017-01-04 09:55] olafurpg commented on #151
My experience is that these things are easiest to fix once you find a minimal unit test for Syntactic!

[2017-01-04 10:05] DavidDudson commented on #151
Indeed. I'm busy making an awesome macro based on my PR. So until i release details of that I cant get onto this. Just picked it up when I updated meta for Elysium. So I thought id at least document it.

[2017-01-04 10:05] DavidDudson commented on #151
I have to admit that Syntactic suite is going to be a lifesaver later

[2017-01-04 10:50] DavidDudson commented on #37
@olafurpg  We may still have a thicker plot :/

Although this toMtree stuff is working (Which technically is this bug). my end goal is not. I'm soo close though.

https://github.com/DavidDudson/Elysium/commit/b375800723d4a705862fbf2a56c343f692c94527

Fails with:

[code]

Definitely read the large comment at the top of the file if you are curious as to what the "end goal" is. Note: If anyone actual

[2017-01-14 09:11] DavidDudson commented on #37
Ah! I figured it out.

Expanding
[code]

into

[code]

Works.

Expanding....

[code]

into

[code]

fails with the above error.

and of course expanding

[code]

Into the same class definition also fails with the above error.

@xeno-by @olafurpg Do you have any ideas why this is? And hopefully a solution. I presume its something to do with macro annotations requiring their parent either being an o

[2017-01-14 10:32] DavidDudson opened #153 "Add a compiler option for expansion debugging"
It was quite helpful when debugging #37 to add `inform(stringExpansion)` to paradise expanders.

This prints the raw text given to the parser post expansion.
My proposal is to add a compiler flag of some kind that when on.
Prints the following after every expansion...

[code]

[2017-01-14 21:35] DavidDudson commented on #151
The minimized repro is `syntactic("() => 1")`
I suspect scalac has some funky stuff relating to Function0

[2017-01-21 09:35] DavidDudson opened #155 "Blocker: Issues with macro annotation expanding quasiquotes pattern matchers"
I presume the minimal repro is.

`syntactic("""case q"object $name { ..$stats }"""")`

This completely fails to compile.

`[info]   scalac parse error: illegal start of definition at source-<toolbox>,line-1,offset=0 (ConverterSuite.scala:143)`

## Origin

I'm currently building a very complex `macroAnnotation` macro annotation
https://github.com/DavidDudson/Elysium/blob/master/gen/src/main/scala/n

[2017-01-21 10:03] olafurpg commented on #155
What happens if you wrap the case into a match in that call to syntactic?
On Sat, 21 Jan 2017 at 10:35, David Dudson <notifications@github.com> wrote:

[2017-01-21 10:15] DavidDudson commented on #155
```syntactic("""x match { case q"object $name { ..$stats } }"""")```

[code]

I'm off to sleep now, will check back in the morning

[2017-01-21 10:18] olafurpg commented on #155
There's missing an arrow =>
On Sat, 21 Jan 2017 at 11:15, David Dudson <notifications@github.com> wrote:

[2017-01-21 10:18] DavidDudson commented on #155
Whoops, i realised after i posted. updated that comment

[2017-01-21 10:35] olafurpg commented on #155
There's missing a closing double quote.

[2017-01-21 19:54] DavidDudson commented on #155
Hmmm. I must have been tired last night. Tests pass with    ` syntactic("""x match { case q"object $name { ..$stats }" => ??? }""")`

So how would it break? Is there something different between the syntactic parser and the regular parser?

This fails....
[code]

[2017-01-21 20:29] DavidDudson commented on #155
Okay so have a repro.

Syntactic tests seem to work fine, but it fails in paradise.

Succeeds:
 ``` syntactic("""x match { case q"object $name { ..$stats }" => ??? }""")```

Fails:
[code]

Heres he before and after toMTree:

[code]

I'll keep searching.

[2017-01-21 20:50] DavidDudson commented on #155
It seems as if this is possibly a bug in scalameta.

Mtree just calls `toMtrees[Lit]` on `List("object ", " { ..", " }")`

So it could be the case that meta is incorrectly outputting the syntax.

[2017-01-21 21:42] DavidDudson commented on #155
I'm wondering whether to leave this open until the fixed scalameta version is used by paradise... Or whether I should just close it

[2017-01-22 11:43] olafurpg commented on #155
Keep it open until we bump the meta version in paradise and confirm the bug has been fixed.

[2017-01-27 09:01] DavidDudson opened #158 "Analyze the limits of the current macroAnnotations expansions."
All the code relating to this ticket is proven at https://github.com/DavidDudson/meta_limits

After getting slightly confused by hitting some of the limits of meta, I have created the meta_limits repo to demonstrate exactly what can and can't be expanded currently. It is not exhaustive and I will add more tests in the future.

The purpose of this ticket is to decide whether some of those constrain

[2017-01-28 05:37] DavidDudson commented on #29
Was fixed in https://github.com/scalameta/paradise/pull/149

[2017-01-28 05:38] DavidDudson commented on #37
Closed in https://github.com/scalameta/paradise/pull/149

[2017-01-28 05:38] #37 closed

[2017-01-28 05:41] DavidDudson commented on #84
@olafurpg Could we update the main post again? I have a feeling some a few can be ticked off now

[2017-01-28 07:22] DavidDudson opened #159 "Have some way of detecting whether an expansion is top level or not"
After my investigation into https://github.com/scalameta/paradise/issues/158...

## Problem

The issues that are produced due to top level macro expansion very much targeted at macro authors, not macro users.

The user of the macro probably will not understand the error shown here:
https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/typechecker/Errors.sca

[2017-01-28 08:49] olafurpg commented on #84
@DavidDudson I can't recall where I put the script to produce that report :( since there's so few left, I suspect it's easiest to grep for the remaining names in ToMtree to see if they're covered or not

[2017-01-28 08:51] DavidDudson commented on #84
@olafurpg okay, we probably should move this issue to meta also, since we no longer keep the converter in paradise

[2017-01-30 07:17] 4lex1v opened #160 "Illegal start of statement"
Original issue [#603](https://github.com/scalameta/scalameta/issues/603)
[Repo](https://github.com/4lex1v/MetaBlockIssue) with an example project
---
I'm trying to expand a function declaration into a private class and it's factory function:

[code]
where `@constr` should expand into a `private class` with a `def`, so the annotation result value looks this: `q"$genClass; $getFunc"`. It fails to co

[2017-01-30 08:19] olafurpg commented on #160
Have you tried removing the private modifier? I think the class is already private since it's wrapped in a block.

[2017-01-30 09:41] DavidDudson commented on #84
@xeno-by Can we close this please, given the new issue in meta

[2017-01-30 09:43] DavidDudson commented on #150
Closing this as it's probably not too relevant anymore. If anyone wants it revived, open one in meta.

[2017-01-30 09:43] #150 closed

[2017-01-30 09:44] DavidDudson commented on #115
@olafurpg can we move this issue to meta

[2017-01-30 09:44] DavidDudson commented on #116
@olafurpg can we move this issue to meta since I believe this is a converter issue

[2017-01-30 09:47] olafurpg commented on #116
Yes, good idea, this is a converter issue.

[2017-01-30 10:13] olafurpg commented on #115
Yes, we can move this to meta.

[2017-01-30 10:14] olafurpg commented on #84
Thank you for moving the issue to the scalameta repo @DavidDudson! Closing this  one.

[2017-01-30 10:14] #84 closed

[2017-01-30 11:37] 4lex1v commented on #160
@olafurpg it works without the modifier, but i need to have it hidden within the `object`, hence i need to use private.

[2017-01-30 11:48] olafurpg commented on #160
@4lex1v private classes are not allowed in Scala

[code]

could you get away with putting the class inside the `def` body?

[2017-01-30 11:58] 4lex1v commented on #160
@olafurpg They are, but i don't need it inside the block, i want to generate a private class with the corresponding function, i.e:

[code]

into

[code]

[2017-01-30 12:13] olafurpg commented on #160
Would this work?

[code]

[2017-01-30 12:15] olafurpg commented on #160
I'm not sure if it's currently possible to expand as you describe, @DavidDudson may know better than me

[2017-01-30 12:15] 4lex1v commented on #160
@olafurpg Unfortunately not. I wonder if described behaviour is intentional or it's a issue and may be eventually fixed?

[2017-01-30 12:32] olafurpg commented on #160
I think the issue here is that `inline def apply` returns a `Tree` which cannot be two sequential statements unless it's wrapped in block. It might be possible to change it to return `Seq[Tree]`. I recommend you read over https://github.com/scalameta/paradise/issues/158 and pitch your thoughts

[2017-01-30 13:00] olafurpg commented on #159
Did you try `.parent`? You can traverse up to the top to see if a node is top-level or not.

[2017-01-30 13:24] 4lex1v commented on #160
@olafurpg i'm sorry but i don't understand, it perfectly works if i drop `private` modifier, but not with it?

[2017-01-30 18:47] DavidDudson commented on #159
Yes. because `toMTree` is called on whatever the annotee is, the annotee always has no parent.

This is because Macro annotations work `in => out`

Perhaps we could call `toMtree` on the `gTree.parent` of the annotee. Then populate the annotees parent field. This tree would include the current representation of the annotee as well as anything else.

It would basically be the current view of the pa

[2017-01-30 18:54] DavidDudson commented on #160
I'm wondering if this pattern match is failing for some reason.

https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/typechecker/Expanders.scala#L202

I'll investigate tonight or tomorrow

[2017-01-30 18:56] DavidDudson commented on #160
@olafurpg It looks like we definitely can switch to immutable.Seq[Tree], If I'm reading the expander code correctly

[2017-01-30 18:59] xeno-by commented on #160
@DavidDudson How about treating blocks as sequences of trees by unwrapping them internally in expanders?

[2017-01-30 19:05] DavidDudson commented on #160
@xeno-by That's what should be happening already. See that line of code I linked.

[2017-01-30 19:07] xeno-by commented on #160
Yeah, that's how I was remembering it. I also was surprised that it didn't work.

[2017-01-30 19:25] 4lex1v commented on #160
Does the issue with the `private` modifier related to the `Seq[Tree]` result type?

[2017-01-31 04:20] DavidDudson commented on #160
Information on the issue:

This an example output of a macro which exibits this issue (Which is fine, it makes sense)

[code]

The problem, is that in order to get from that m.Tree, to the g.Tree

we of course call .syntax, and then reparse.

After the reparse we check the g.Tree for blocks and extract stats from it.

Its the reparse that breaks, I presume anything that it restricted during parse

[2017-01-31 18:48] olafurpg commented on #159
I don't think it's a good idea to add another method to Tree since this is a macro specific issue. I feel like macro annotations should get some sort of compiler context to for example emit compiler warnings. Maybe we can put this boolean bit in the context?

[2017-01-31 19:17] xeno-by commented on #159
@DavidDudson @olafurpg In my dissertation (https://dl.dropboxusercontent.com/u/10497693/dissertation.pdf), I suggest that apart from `Dialect` and `Mirror`, we also introduce `Expansion` that contains methods like that. More precisely, see section 9.4. Meta APIs. Wdyt?

[2017-01-31 22:20] DavidDudson commented on #159
@xeno-by sounds good

[2017-02-05 21:22] 4lex1v opened #163 "-Yrangepos option breaks compilation"
Basically adding `-Yrangepos` to `scalacOptions` fail the compilation. As an example outcome [this](https://github.com/scoverage/sbt-scoverage/issues/197) issue with Scoverage. It can be reproduce on [this project](https://github.com/4lex1v/anyfin) as an example, but i assume that any "hello world" would fail with something like this:

[code]

[2017-02-06 07:51] 4lex1v commented on #163
Though i don't have much experience with Scala's internals and Paradise, my understanding is that issue happens at [this](https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/parser/SyntaxAnalyzer.scala#L178) line.

Having the following generated `apply` tree:

[code]

That call with `stat.pos.focus` converts `RangePosition` to `OffsetPosition`, which does

[2017-02-08 05:46] #163 closed

[2017-02-10 06:53] DavidDudson commented on #160
Fixed in #161

[2017-02-10 06:53] #160 closed

[2017-02-10 06:54] DavidDudson commented on #160
Note private[X] still will not work

[2017-02-10 06:59] DavidDudson commented on #155
I'll close this since the meta version has been bumped to 1.6 due to the scalahost work

[2017-02-10 06:59] #155 closed

[2017-02-10 07:13] DavidDudson commented on #151
Future conversation should be in the issue above. This issue will be closed when fixed in scalameta and merged into paradise.

[2017-02-10 07:56] DavidDudson commented on #141
I cannot seem to reproduce this at all.

[code]

I'm presuming this was fixed in #144

[2017-02-10 07:56] #141 closed

[2017-02-10 09:18] DavidDudson commented on #146
Future conversation should be in the issue above. This issue will be closed when fixed in scalameta and merged into paradise.

[2017-02-10 09:23] DavidDudson commented on #116
Future conversation should be in the issue above. This issue will be closed when fixed in scalameta and merged into paradise.

[2017-02-13 15:01] gregghz commented on #52
Possibly related, when using specs2 with `scalacOptions in Test += "-Yrangepos"` I got the follow error:

[code]

My build.sbt is as follows:

[code]

[2017-02-13 22:57] xeno-by commented on #52
@4lex1v Can you take a look at this please?

[2017-02-14 05:16] 4lex1v commented on #52
@xeno-by Looking into this and have one moment i can't resolve porperly. [This line](https://github.com/scalameta/paradise/blob/master/plugin/src/main/scala/org/scalameta/paradise/typechecker/Expanders.scala#L185) returns a tree positioned from `0`, which overlaps with stats (e.g `package` or 'import`). I've tried to fix it by setting `NoPosition`, which causes an`UnpositionedTree` exception, and

[2017-02-14 21:19] xeno-by commented on #52
I'd try to erase all positions in the parsed tree and then do `atPos(position.makeTransparent)(expansion)` as in https://github.com/scala/scala/blob/v2.11.8/src/compiler/scala/tools/nsc/typechecker/Macros.scala#L642.

[2017-02-15 22:52] olafurpg opened #169 "Reuse Metadata from scalahost"
See https://github.com/scalameta/paradise/pull/168/files#r101391646

[2017-02-22 08:32] xeno-by opened #175 "pomPostProcess doesn't work"
See https://github.com/scalameta/scalameta/issues/698

For scalameta/scalameta, this is an optional QoL improvement. For this project, this is a blocker that borks bintray releases.

[2017-02-22 08:36] xeno-by commented on #175
@dwijnand Any idea how to fix this?

[2017-02-22 09:44] dwijnand commented on #175
What do you mean by "doesn't work" or "doesn't work for builds on bintray"? Is there a stacktrace or an error message?

[2017-02-22 09:51] olafurpg commented on #175
If I understand correctly, it works correctly, just as advertised, but pomPostProcess only solves the problem when publishing maven style to sonatype, and not ivy style to Bintray. Scalameta publishes snapshots to bintray and official releases to sonatype, so a unified solution for both ivy+maven would be preferred.

[2017-02-22 10:26] dwijnand commented on #175
No, looks to me like you're publishing maven style to Bintray.

https://bintray.com/scalameta/maven

What was the symptom that caused to opening of the "pomPostProcess doesn't work" issues?

[2017-02-22 10:36] xeno-by commented on #175
@dwijnand Even though the repo is called `maven`, it's actually ivy style: https://github.com/scalameta/sbt-macro-example/blob/master/build.sbt#L10.

Concretely, the problem is that paradise's `ivy.xml` from https://bintray.com/scalameta/maven/paradise/3.0.0-174#files/org.scalameta/paradise_2.11.8/3.0.0-174/ivys contains a dependency on scalahost. This makes `addCompilerPlugin` add both paradise a

[2017-02-22 11:32] olafurpg commented on #175
I noticed it was inconsistent. I suggest we switch completely to maven. That will require everyone to switch from `bintrayIvyRepo` to `bintrayRepo`, but I think the migration is worth it.

Scalahost is actually "paradise" in this image below
![sketch](http://www.scala-lang.org/resources/img/scalameta-sketch.jpg)

Scalahost converts meta<=>scalac. scalameta/paradise is the macro compiler plugin.

[2017-02-22 11:44] dwijnand commented on #175
Oh a compiler plugin (paradise) that depends on [another compiler plugin](https://github.com/scalameta/scalameta/blob/master/scalahost/src/main/resources/scalac-plugin.xml) (scalahost)? That's a new one. I'm not surprised the existing tooling doesn't do the right thing out the box.

Yeah, I would hazard a guess that the users of paradise or scalameta snapshot releases is small enough that they can

[2017-02-27 07:04] notxcain opened #176 "java.lang.NoClassDefFoundError for companion generated by multiple annotations"
When I add 2 annotations that both add something to annotated `trait`'s companion object (they create one
if there wasn't) to a trait without companion object
and call a  generated method I get `java.lang.NoClassDefFoundError`.
Here is a repro
[code]

A usage:

[code]

[2017-02-28 09:56] DavidDudson commented on #176
I thought I would give an update on this. I'm currently writing test cases for both recursive expansion and expansion dependencies.

Recursive expansion works as I expected. I still haven't written the tests for expansion dependencies.

[2017-02-28 14:02] notxcain commented on #176
@DavidDudson what do you mean by `expansion dependencies` ?

[2017-02-28 22:20] DavidDudson commented on #176
When one expansion creates something that another expansion requires.

[2017-03-01 04:38] notxcain commented on #176
Ah ok, but it is not the case here. These annotations are independent.

[2017-03-01 09:30] DavidDudson commented on #176
Oh I see its the 3rd case. where both annotation create separate things. I'll add unit tests for that too.

[2017-03-06 03:02] Atry opened #177 "Macro annotation does not support -Yliteral-type"
[code]

[code]

[code]

[code]

[2017-03-06 14:22] Atry opened #178 "Manually set position in a scala.meta macro annotation"
As a macro author, I want to set the position of `Tree`s that generated by my macro. The old scala-reflect macro annotation support `atPos` method. However, `scala.meta` does not provide similar features.

[2017-03-08 01:16] DavidDudson opened #179 "Access to default parameters of macro annotations"
There is no way to access a default argument from inside the macro annotation: we operate either on a new MyMacro(arg1, ..., argN) in case argument(s) are supplied or on a new MyMacro() otherwise. As far as I understand, we can't inspect annotation definitions themselves, so there should be some 'external' mechanism to do it (?).

Previous issue: https://github.com/scalameta/scalameta/issues/734

[2017-03-08 11:11] olafurpg commented on #179
Can you give an example? Default parameters values are defined in the macro annotation, so I don't see exactly what's missing.

[2017-03-08 19:31] CremboC opened #180 "After transforming, a block should be reparsed as stats"
#161 was suppose to fix it, but it still appears to be a problem.

Example:
[code]

Should produce
[code]

but actually produces
[code]

Tested on paradise `3.0.0-M7` and scalameta `1.6.0`

[2017-03-08 19:59] olafurpg commented on #180
I think this is working as expected, since you are transforming a term to another term. The only way three statements can be a term is to wrap them in a term.block. It seems you need to flatMap on the stats of the enclosing term.block.

Maybe the transformer can be changed to accommodate expanding a single term to multiple terms, but don't know so much of the Transformer internals.

[2017-03-09 06:02] Atry opened #181 "Macro annotation does not support Scaladoc"
It seems that macro annotation are not applied when generating Scaladoc

[2017-03-10 01:23] xeno-by commented on #177
Looks like an issue in the converter. At the moment, we assume that a tree wrapped by `SingletonTypeTree` is convertible to a `Term.Ref`: https://github.com/scalameta/scalameta/blob/c37cb1cf2166b9696219fc888cafbcb6f18769f9/scalahost/src/main/scala/scala/meta/internal/scalahost/converters/ToMtree.scala#L193.

[2017-03-10 01:24] xeno-by commented on #49
This is no longer relevant, because we're now using a different strategy to implement the semantic API.

[2017-03-10 01:24] #49 closed

[2017-03-10 01:27] xeno-by commented on #178
Could you give an example of what you'd like to achieve? Would you like to make a tree positioned exactly where another tree is? Or you actually want to compute a synthetic position (e.g. by manipulating offsets) and assign it to a tree?

[2017-03-10 01:32] xeno-by commented on #181
This and REPL are known issues of the current implementation. At the moment, paradise works by hijacking the typechecker, and I suspect that we don't hijack enough for non-trivial environments.

[2017-03-10 02:08] Atry commented on #178
For example, if I want to port [Binding.scala/dom](https://github.com/ThoughtWorksInc/Binding.scala/blob/10.0.x/dom/src/main/scala/com/thoughtworks/binding/dom.scala) to `scala.meta`, there are many `atPos` calls when the macro transform the tree.

[2017-03-12 21:48] Atry opened #182 "Macro annotations for types"
There is a trick widely used in [Shapeless](https://github.com/milessabin/shapeless), [refined](https://github.com/fthomas/refined), [implicit-dependent-type](https://github.com/ThoughtWorksInc/implicit-dependent-type) and [DeepLearning.scala](https://github.com/ThoughtWorksInc/DeepLearning.scala/) - creating custom types from a macro `selectDynamic`. For example:

[code]

This trick can be replac

[2017-03-13 19:56] xeno-by commented on #182
This is something that we discussed back then with @densh at https://www.google.com/maps/place/Vapiano+Lausanne/@46.5176014,6.6272589,17z/data=!3m1!4b1!4m5!3m4!1s0x478c2e2d55e9fcef:0x770336094db371d6!8m2!3d46.5175977!4d6.6294476.

Technically, this functionality looks totally implementable. My only concern is previous negative experience with trying to merge type macros into scala/scala. Nonethele

[2017-03-13 23:17] Atry commented on #182
Looks a nice restaurant 😄

We used type annotation for static typed symbolic computing for neural networks: https://github.com/ThoughtWorksInc/DeepLearning.scala/blob/fa1fc1d/src/test/scala/com/thoughtworks/deeplearning/CNNTest.scala#L52

Currently the syntax is implemented by a compiler plugin: https://github.com/ThoughtWorksInc/implicit-dependent-type

[2017-03-14 21:20] xeno-by commented on #178
From the example there, I see that you're positioning trees exactly at the offset/range of other trees. Looks like it may be useful to expose this as an API instead of atPos. Thanks for the use case!

It doesn't seem like I will have time to implement this in the nearest future, however I'd be happy to provide guidance. Would you be interested in helping out?

[2017-03-15 01:15] Atry commented on #178
I am new to scala.meta. I guess I would contribute to scala.meta after I have more confidence.

[2017-03-16 07:15] notxcain commented on #176
@DavidDudson Hi, did your test cases confirmed that this is a real bug?

[2017-03-16 12:09] xeno-by commented on #178
Thanks for your kind offer! I'll think how to get you started with meta and will come back next week.

[2017-03-21 00:31] nightscape commented on #52
I also just ran into this using Specs2. Is there any known workaround?

[2017-03-31 16:36] rubenfiszel opened #186 "Retrieve the enclosingPosition filename, line and column from the original source file."
We are trying to convert a virtualization of a subset of the scala language to scalameta.
We use an implicit macro for debug purposes that we call a SourceContext. That SourceContext is expanded at method call site and enable us to pass along the SourceContext and retrieve the relevant faulty line.

But with paradise, the annotation do the macro expansion in a separate compilation unit "<macro>" t

[2017-04-12 07:29] mpollmeier opened #192 "Cannot annotate class members if they are part of constructor"
Annotating a class member works fine
[code]
Unless it is part of the constructor:
[code]

Where foo is the identity macro:
[code]

This was already discussed [on gitter](https://gitter.im/scalameta/scalameta?at=58237b4be097df75758f2e9f) in November between @taig and @olafurpg, and there is a somewhat dirty workaround. The problem got never reported though, at least I didn't find the issue.

Here i

[2017-04-12 08:51] DavidDudson commented on #192
That is the exact reason why https://github.com/scalameta/paradise/issues/16 exists. Except most of the examples in that ticket are surrounding Defs. This is with class parameters. We seem to be getting more and more examples of why they are still needed.

What's your use case by the way? I'm curious

[2017-04-12 08:57] olafurpg commented on #192
Would it be possible to use this workaround?
https://github.com/scalameta/paradise/issues/16#issuecomment-259531690

On Wed, Apr 12, 2017 at 10:51 AM David Dudson <notifications@github.com>
wrote:

[2017-04-12 09:28] mpollmeier commented on #192
@DavidDudson the use case I have is to replace the marshaller in [gremlin-scala](https://github.com/mpollmeier/gremlin-scala/) which is implemented with old-style macros and [uses an annotation on a class parameter to map the id of a vertex](https://github.com/mpollmeier/gremlin-scala/blob/master/gremlin-scala/src/test/scala/gremlin/scala/MarshallableSpec.scala#L16).

Annotating the id member with

[2017-04-12 09:28] #192 closed

[2017-04-13 04:20] mpollmeier commented on #192
@DavidDudson an even simpler use case would be e.g. in a marshaller/serialiser to annotate certain members with `@nullable`, if you don't want to use `Option` for some reason

[2017-04-14 17:15] olafurpg opened #193 "Provide @ParamAnnotation helper"
Context: http://stackoverflow.com/questions/43394357/scalameta-identify-particular-annotations/43415867#43415867

It would be nice to provide that `@ParamAnnotation` by default or in some `paradise-contrib` module.

[2017-04-15 14:06] xeno-by opened #194 "Get rid of ToMtree"
@olafurpg has just proposed to remove toMtree and replace it with stringifying the input reflect tree and then parsing it with scala.meta.

The benefits of this approach include: 1) major simplification of code (because converters are incredibly complicated), 2) the ability to include doc comments in annottees.

The exact strategy of stringification is up for discussion. It looks like in a lot of

[2017-04-16 03:56] DavidDudson commented on #194
Can we access the input reflect tree without any desugaring? If so I say go ahead!

[2017-04-16 16:11] xeno-by commented on #194
@DavidDudson Well, scala.reflect already desugars trees by the virtue of the data schema that it provides, but I think that we can try.

[2017-04-18 11:34] olafurpg opened #195 "Include filename in <macro> origin"
Currently, compilation errors inside expanded code look like this

[code]

it would be nice if they included the original source filename

[code]

[2017-04-18 18:28] drieks opened #196 "paradise 3.0.0-M8 for scala 2.11.11"
Hi,

it is possible to  release paradise 3.0.0-M8 for scala 2.11.11?

scala 2.11.10 should not be used, see https://github.com/scala/scala/releases/tag/v2.11.11.

thank you!

[2017-04-18 18:41] xeno-by commented on #196
Sure thing! We just need to wait for a Scala.js release, since scala.meta now depends on Scala.js.

[2017-04-19 06:18] xeno-by commented on #196
Done

[2017-04-19 06:18] #196 closed

[2017-04-20 21:13] drieks opened #198 "java.lang.AbstractMethodError using scala 2.11.x"
Hi,

I'm using a macro to create a simple def (just returning a new instance of the matching return type).

The example works as expected with sbt 0.13.15 / scala 2.12.2 / scalameta 1.7.0 / paradise 3.0.0-M8 / Idea 2017.1.1.

But when switching to scala 2.11.11 an exception will be thrown in the last println line:

[code]

Can anyone reproduce this?

[code]

[code]

[2017-04-23 14:10] xeno-by commented on #198
What do you mean by switching? Changing the version number in the build file and compiling again?

Also, have you tried cleaning the project and rerunning? I have a suspicion this may be a binary incompatibility between how 2.11.x and 2.12.x compile traits.

[2017-04-24 07:18] drieks commented on #198
Hi,

yes, I meant changing the version number and cleaning the build before recompile. I'm currently not affected of this, I have just reported it to support scalameta.

[2017-05-08 15:53] lloydmeta commented on #194
I think this might have a chance at fixing #146 as well. Currently the mangling of for-comprehensions is big blocker for adoption of Scalameta macro annotations.

[2017-05-08 15:56] xeno-by commented on #194
We have recently found an amazing way to implement new-style macros in scalac, and we're currently working on paradise 4.x to adopt it (https://twitter.com/xeno_by/status/860378404444487680). Once the implementation is out, we should revisit #194 and #146.

[2017-05-11 13:41] kailuowang opened #201 "macro expansion fails on scalajs with scoverage turned on."
When running tests in scalajs with scoverage, my annotation fails with the following error message.

[error] java.lang.RuntimeException: stub
[error] 	at scala.sys.package$.error(package.scala:27)
[error] 	at scala.scalajs.runtime.package$.linkingInfo(package.scala:143)
[error] 	at scala.scalajs.runtime.package$.environmentInfo(package.scala:137)
[error] 	at scala.scalajs.js.Dynamic$.global(Dynami

[2017-05-22 17:21] Atry opened #203 "Scaladoc disappear after enabling paradise plugin 3.0.0-M8"

[2017-05-28 04:42] DavidDudson opened #205 "Crash with identity macro when type has companion"
Add the below to `Expansion.scala` to reproduce the error

[code]
We need to decide how to handle this.

I believe we should treat type + companion like class + companion.

The original need for this is @alexknvl having some fun with new types.

See https://github.com/alexknvl/newts for the library details.

The actual use case is below

[code]

[2017-05-28 06:06] DavidDudson commented on #180
Hmm...

So I believe this should be closed as wontfix, here's the issue...

`transform` must return a single `Tree`, which forces it to return a `Term.Block`

## Explanation

### Input

[code]

### Output

[code]

Note: This actually should be a nested block.

[code]

The current code is...

[code]

Which says the following.

If it is a single term, return that term.
If multiple terms, wrap in a `

[2017-05-28 06:32] DavidDudson commented on #179
Closing this as

https://github.com/scalameta/paradise/blob/master/tests/meta/src/test/scala/compile/Expansion.scala#L198

and

https://github.com/scalameta/paradise/blob/master/tests/meta/src/main/scala/namedParam.scala

Prove it was never an issue to begin with.

[2017-05-28 06:32] #179 closed

[2017-05-28 08:30] olafurpg commented on #180
I agree, this is working as intended.

The macro annotations special case Term.Block to support injecting a companion object. In my opinion, we shouldn't overload Term.Block for that use-case in macro annotations. We should instead type the input/output of macro annotations from `Any => Any` to something `MacroArg => MacroArg` (name up for debate)

[code]

@CremboC to expand a val into a list of t

[2017-05-28 08:30] #180 closed

[2017-06-04 21:27] xeno-by commented on #205
@DavidDudson Sorry for the late response! Could you post a stack trace here, too? I'm currently afk, but I could suggest where to look if I see the error.

[2017-06-04 21:58] DavidDudson commented on #205
@xeno-by This is using jetbrains, but sbt produces the same result.

[code]

[2017-06-05 13:13] cornerman commented on #56
Having the same problem, I was able to workaround it by excluding every source file named `<macro>` from coverage reporting:

[code]

[2017-06-05 23:26] xeno-by commented on #205
Hmm looks like a tough one. Needs quite some debugging. How urgent is this issue?

[2017-06-06 20:54] xeno-by opened #209 "ScalaDoc generation raises NullPointerException when @typeclass annotation is used"
See the original issue submitted at https://github.com/scalameta/scalameta/issues/909 courtesy of @swachter.

[2017-06-08 14:16] matwojcik opened #210 "UnreachableError when rewriting class having annotation on its field"
When I'm trying to rewrite with meta a class having annotation on its field I get UnreachableError:
[code]

[code]

[2017-06-09 08:36] matwojcik commented on #210
Workaround:
[code]

[2017-06-15 01:53] LoranceChen opened #211 "scalameta Decl.Def annotation can't be compiled"
Hi, paradise-M9 maybe has some bugs in the stage:
scalameta/scalameta#934

[2017-06-18 03:19] xeno-by commented on #211
@DavidDudson I remember you were working on that part of the plugin recently. Do you think there's an easy fix?

[2017-06-19 03:04] DavidDudson commented on #211
Hmmm... I was only really working on the existing infrastructure, I can take a quick look.

[2017-06-19 03:26] DavidDudson commented on #205
@xeno-by The fix that is merged into master actually fixes this.
That may also be the wrong fix and just somehow "work".

It also adds type parameters as companions in the expansion, but I do not believe that is necessary if that is an issue.

Working with typelevel code, I feel that generating data from types may be a somewhat common operation.

I guess I define companion loosely in the sense tha

[2017-06-19 21:14] xeno-by commented on #205
I think that we can be pretty much satisfied with the current solution. For scalamacros/scalamacros, let's revisit the exact wording of what gets expanded in a macro annotation. Also, the crash is definitely a bug, and we'll have to fix it for scalamacros/scalamacros (since it's likely to use the same expansion-enabling infrastructure).

[2017-06-19 21:14] #205 closed

[2017-06-20 16:19] soronpo commented on #10
With help from @dwijnand, a better work-around than `scalacOptions in (Compile, console) := Seq()` is ```
scalacOptions in (Compile, console) ~= (_ filterNot (_ contains "paradise"))
[code]

[2017-06-20 16:31] soronpo commented on #10
Created PR for the tutorial with the updated work-around
https://github.com/scalameta/tutorial/pull/24

[2017-06-20 19:19] fommil opened #212 "not compatible with presentation compiler"
starting an ENSIME project that uses scalameta paradise gives me this stacktrace

[code]

[2017-06-20 20:02] xeno-by commented on #212
Looks like one of the flaws of our analyzer hijacking logic. It's good that scalamacros/scalamacros doesn't have this problem.

[2017-06-20 20:06] fommil commented on #212
to reproduce, check out https://github.com/frees-io/freestyle and run `sbt tests/test`

or alternatively, consider adding a pcplod test to this project (although that does put pcplod rather low down in the dependency chain of doom)

[2017-06-21 02:29] Atry commented on #195
https://github.com/scalameta/paradise/issues/178

[2017-06-27 22:54] zliu41 opened #213 "$$ not handled correctly"
[code]

does not compile:

[code]

This is with Scala 2.11.11, scalameta 1.8.0, paradise 3.0.0-M9.

Both `println(s"${'$'}hello")` and `println(s"$$$hello")` work, but the latter is not supposed to work.

[2017-06-28 09:05] olafurpg commented on #213
Interesting. It seems the `$$` is getting pretty-printed as `$`. If someone wants to take a stab at this, Term.Interpolate is resugared here https://github.com/scalameta/paradise/blob/649876ba4596b682f8e0775e230bcda3e7be9848/plugin/src/main/scala/org/scalameta/paradise/converters/LogicalTrees.scala#L199
and tests are here https://github.com/scalameta/paradise/blob/649876ba4596b682f8e0775e230bcda3e

[2017-07-10 07:20] swachter opened #214 "Endless Loop during ScalaDoc generation"
In a project involving macros there seems to be an endless loop when generating ScalaDoc. Taking 3 thread dumps always returned the following stack trace:

[code]

[2017-07-11 08:03] olafurpg commented on #214
Duplicate of https://github.com/scalameta/paradise/issues/55 ?

[2017-07-11 12:22] olafurpg opened #215 "Migrate to latest scalameta trees"
I did some WIP changes here https://github.com/scalameta/paradise/compare/master...olafurpg:meta-v2?expand=1 using sed. Some of them may be wrong. There are 20 remaining compilation issue mostly related to Ctor.Name, could you take a look @xeno-by ?

This is blocking scalafix from upgrading to the latest nightly version of scalameta.

[2017-07-11 16:07] xeno-by commented on #214
Looks like it.

[2017-07-11 16:07] #214 closed

[2017-07-13 01:31] LoranceChen commented on #211
Hi, is it on fix? I'm sorry I can't contribute to the issue with my current Scala knowledge.

[2017-07-13 09:30] DavidDudson commented on #211
No sorry I've been super busy with non-meta related things. Given that @xeno-by is working towards scalamacros/scalamacros I presume we should just defer any large effort to fix this until that is released. As it will be a duplicated effort doing it in both.

[2017-07-16 13:07] fommil commented on #10
probably related to #212 since it's again to do with loading itself into the compiler phases.

[2017-07-27 18:03] fommil commented on #212
I also can't run ensime on the stalagmite source code because it's using scalameta paradise :cry:

[2017-07-27 19:43] fommil commented on #212
@xeno-by could you please give some advice to fix this? I basically can't use ensime when I use `scala.meta` which sucks because I want to use stalagmite and freestyle in my book and it's making it super hard for me to do anything.

[2017-07-27 19:47] fommil commented on #203
you're lucky... in my projects the `doc` just hangs forever :-/

[2017-07-27 19:48] fommil opened #216 "doc hangs forever"
in https://github.com/fommil/stalagmite/tree/5fdd9c3bcdc68b8d1227dd64c794c67b8d9e6f3b

`sbt doc` hangs forever

[2017-08-03 16:46] swachter opened #220 "NoClassDefFoundError: scala/reflect/internal/Trees"
After upgrading to Scala 2.12.2 -> 2.12.3 and Paradise 3.0.0-M9 -> 3.0.0-M10 I get the following error when compiling a project with the net.alchim31.maven/scala-maven-plugin.

Upgrading Scalameta 1.8.0 -> 2.0.0-M1 did not help.

[code]

[2017-08-17 07:25] swachter commented on #220
The scala-reflect-2.12.3.jar has not been downloaded properly by Maven (see below). After removing the repository folder and rebuilding everything works fine again.

[code]

[2017-08-17 07:25] #220 closed

[2017-08-21 12:54] swachter commented on #216
I have the same issue (using paradise 3.0.0-M10). Taking stack traces repeatedly showed that a while loop in org.scalameta.paradise.typecheckers.Namers (line 555 to 565) seems to be the culprit:

[code]

[2017-08-22 09:38] swachter commented on #216
One more hint: The endless loop occurred at the call site of a method that was annotated with a @tailrec. More precisely, in the code given below the loop occurred at the `go()` call at the bottom of the snippet:

[code]

The endless loop disappeared after the @tailrec annotation was removed.

[2017-08-31 17:11] ngbinh opened #221 "Publish 3.0.0-M9 for scala 2.12.3"
Thanks!

[2017-08-31 17:15] ngbinh commented on #221
found it! https://mvnrepository.com/artifact/org.scalameta/paradise_2.12.3/3.0.0-M10

[2017-08-31 17:15] #221 closed

[2017-09-01 17:49] xeno-by opened #222 "Fields that are added by annotation macro, cannot survive `publishLocal` if they are called explicitly."
that means before/during `publishLocal`,  macro expansion did not complete.

[code]
code above will throw `addedMethod is not a member of A` during `publishLocal`.

A workaround is to create a dummy method that represents the macro-added method before macro expansion:
[code]

[2017-09-01 17:50] xeno-by opened #223 "Output of for comprehensions"
Given the following macro annotation
[code]
and this code using it
[code]

I expect the exact same code to be present in the rewritten class but when I compile I get
[code]
This is using scalameta `1.8.0` and scala `2.12.2` (same thing for `1.9.0-834-25e73d6d`).

[2017-09-01 17:51] xeno-by opened #224 "Macro expansion doesn't insert backticks around non-alphabetical Term.Name"
This annotation
[code]
produces the compilation error
[code]
Although when I test macro expansion by parsing the scala code and then comparing it with generated `Tree`, it works almost correctly (pretty-printer doesn't print backticks sometimes).

[2017-09-01 17:52] xeno-by opened #225 "Unified compilation scope."
Currently, a given single `object` will be instantiated every time per annotation, like:
[code]
`MacroUtil` will be created twice during compilation:
[code]

This makes communication between two annotated classes hard. Vintage macros could share same object scope: https://stackoverflow.com/questions/30143900/communicate-between-two-macros.

[2017-09-01 17:53] xeno-by opened #226 "Retain scaladoc."
When public method is added to class expose to clients, it is better to be able to write scaladoc for this method.

Retaining `/** */` doc-commented part of code would be good.

[2017-09-01 17:54] xeno-by opened #227 "Composing macro annotations and then accessing the generated companion object fails at runtime with NoClassDefFoundError"
Suppose I have an annotation, `@first`, which adds a companion object to a trait:

[code]

And another annotation, `@second`, that is a no-op:

[code]

Composing the two annotations and attempting to access the companion object:

[code]

compiles, but fails at runtime:

```Exception in thread "main" java.lang.NoClassDefFoundError: foo/Hello$```

If I make the trait wrapped in an object instead of

[2017-09-01 17:54] xeno-by opened #228 "scalameta adding duplicate mods"
[code]
***Error:***
[code]
Sample Project To Reproduce Error : https://github.com/chandu0101/scalatest-error

[2017-09-01 17:55] xeno-by opened #229 "Duplicated annotations on macro expansions"
When using the following macro:

[code]
On this case class:
[code]

The compiler output is:
`case class Test(@TestAnnotation @TestAnnotation var a: String)`

Which obviously is different to the original case class.

[2017-09-02 15:56] fommil commented on #216
this is blocking us from releasing :confused:

[2017-09-02 16:04] fommil commented on #216
[code]

is the best we can do

[2017-09-16 12:21] anatoliykmetyuk opened #230 "'object scala in compiler mirror not found' when doing 'sbt console'"
Here's the script to reproduce the error:

[code]

The output:

[code]

`~/.sbt/1.0/plugins/` has no plugins. If you comment out the `addCompilerPlugin` line from `build.sbt`, the console works.

[2017-10-26 04:13] dispalt opened #231 "2.12.4 release?"
Any chance we could get a 2.12.4 release for paradise?

[2017-10-26 10:05] #231 closed

[2017-10-26 10:05] olafurpg commented on #231
Sure thing, I just published M10 (same as previous version) for 2.12.4

[2017-11-19 15:13] scalavision commented on #227
I also get this error:

[code]

when trying to run a fs2 stream, is it related? The library also uses meta / paradise macros.

[2017-11-24 10:41] Atry opened #233 "Paradise plugin does not support Scala 2.11.12"
No artifact in https://repo1.maven.org/maven2/org/scalameta/paradise_2.11.12/

[2017-11-25 12:44] #233 closed

[2017-11-25 12:45] olafurpg commented on #233
3.0.0-M10 for 2.11.12 is on it's way to maven :)

[2017-12-12 17:08] melrief commented on #209
It's not only `@typeclass`, I had an issue with a custom annotation. I've disabled scaladoc for now but I have no idea how to fix the issue. NPE is not very helpful.

[2017-12-21 05:33] #151 closed